<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter do Hackoon</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <main>
        <h1>Newsletter do HackoonSpace</h1>
        <form class="form-style" method="POST" action="/email/unsubscribe">
            <span class="form-description">Preencha com o e-mail cadastrado na newsletter:</span>
            <div class="form-input-container">
                <input class="form-input" type="email" name="email" placeholder="Seu e-mail" required>
                <button class="button-style">DESCADASTRAR</button>
            </div>
        </form>
        <h4>Quer se inscrever? <a href="/">Clique aqui!</a></h4>
    </main>
    <footer>
        Feito por <a href="https://github.com/InfiniteMarcus" target="_blank" rel="noopener">@infinitemarcus</a>
    </footer>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>