<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Newsletter do HackoonSpace">
    <title>Newsletter do Hackoon</title>
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        Visite <a href="https://hackoonspace.com">nosso site</a> para conhecer mais sobre a gente
    </header>
    <main>
        <h1>Descadastro da Newsletter</h1>
        <form class="form-style" method="POST" action="/email/unsubscribe">
            <span class="form-description">Preencha com o e-mail cadastrado na newsletter para parar de receber nossos e-mails:</span>
            <div class="form-input-container">
                <input class="form-input" type="email" name="email" placeholder="Seu e-mail" required>
                <button class="button-style">DESCADASTRAR</button>
            </div>
        </form>
        <% if (success === "true") {%> <span class="message success">Sucesso ao descadastrar e-mail!</span> <% } %>
        <% if (success === "false") {%> <span class="message error">Erro ao descadastrar e-mail. Verifique e tente novamente. Se o erro persistir, entre em contato conosco pelo nosso <a href="mailto:hackoonspace@gmail.com">e-mail</a></span> <% } %>
        <h4>Quer se inscrever? <a href="/">Clique aqui!</a></h4>
        <h4>Veja nossa <a href="/privacidade">política de privacidade</a></h4>
    </main>
    <footer>
        Feito por <a href="https://github.com/InfiniteMarcus" target="_blank" rel="noopener">@infinitemarcus</a>
    </footer>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>