<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Newsletter do HackoonSpace">
    <title>Newsletter do Hackoon</title>
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
        Visite <a href="https://hackoonspace.com">nosso site</a> para conhecer mais sobre a gente
    </header>
    <main>
        <h1>Newsletter do HackoonSpace</h1>
        <form class="form-style" method="POST" action="/email/subscribe" onClick="onClick()">
            <span class="form-description">Receba anúncios e novidades sobre a gente na sua caixa de entrada:</span>
            <div class="form-input-container">
                <input class="form-input" type="email" name="email" id="email" placeholder="Seu e-mail" required>
                <button class="button-style">CADASTRAR</button>
            </div>
            <input type="hidden" name="token" id="token">
        </form>
        <% if (success === "true") {%> <span class="message success">Sucesso ao cadastrar e-mail!</span> <% } %>
        <% if (success === "false") {%> <span class="message error">Erro ao cadastrar e-mail. Verifique e tente novamente</span> <% } %>
        <h4>Quer se desinscrever? <a href="/descadastrar">Clique aqui!</a></h4>
        <h4>Veja nossa <a href="/privacidade">política de privacidade</a></h4>
    </main>
    <footer>
        Feito por <a href="https://github.com/InfiniteMarcus" target="_blank" rel="noopener">@infinitemarcus</a>
    </footer>
    <% var recaptcha_key = process.env.RECAPTCHA_PUBLIC_KEY; %>
    <script type="text/javascript">
       var recaptcha_key = '<%= recaptcha_key  %>';
    </script>
    <script src='<%= `https://www.google.com/recaptcha/api.js?render=${process.env.RECAPTCHA_PUBLIC_KEY}` %>' ></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>