<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter do Hackoon</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <main>
        <h1>Política de privacidade</h1>
        <span class="form-description">Preencha com o e-mail cadastrado na newsletter para parar de receber nossas novidades:</span>
        <h4>Quer se inscrever? <a href="/">Clique aqui!</a></h4>
    </main>
    <footer>
        Feito por <a href="https://github.com/InfiniteMarcus" target="_blank" rel="noopener">@infinitemarcus</a>
    </footer>
</body>
</html>